<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>EventFeeds</display-name>
	<servlet>
		<description>
		</description>
		<display-name>registerservlet</display-name>
		<servlet-name>registerservlet</servlet-name>
		<servlet-class>com.Smartertech.handlers.registerservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>loginservlet</display-name>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>com.Smartertech.handlers.loginservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>userloginservlet</display-name>
		<servlet-name>userloginservlet</servlet-name>
		<servlet-class>com.Smartertech.handlers.userloginservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Eventregisterservlet</display-name>
		<servlet-name>Eventregisterservlet</servlet-name>
		<servlet-class>com.Smartertech.handlers.Eventregisterservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerservlet</servlet-name>
		<url-pattern>/registerservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userloginservlet</servlet-name>
		<url-pattern>/userloginservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Eventregisterservlet</servlet-name>
		<url-pattern>/Eventregisterservlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
